body{
  background-color: rgb(23, 24, 44);
  color: rgb(210, 210, 195)
}

.welcome {
  display: flex;
  align-items: center;
}

.profilepic {
  width: 40px;
  height: 40px;
}

.CItem {
  background: black;
  overflow: hidden;
}


.form-container {
  width: 40px;
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: solid;

  padding:80px;
  border-radius: 20px;
}

